services:
  minio:
    image: minio/minio:latest
    container_name: vkr-ml-minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    env_file:
      - ./core/.env
    ports:
      - 9000:9000  # API порт
      - 8083:9001  # Console порт - 
    volumes:
      - minio_data:/data
      - ./core/minio-setup.sh:/etc/minio-setup.sh
    networks:
      - ml_network # В остальном пусть не мешает
      - vkr-outer-network # открываем доступ вовне для console
    profiles:
      - service
      - manual

  redis:
    image: redis:7-alpine
    container_name: vkr-ml-redis
    restart: unless-stopped
    env_file:
      - ./core/.env
    command: ["/bin/sh",  "-c",  "redis-server --appendonly yes --maxmemory 512mb --maxmemory-policy allkeys-lru --requirepass \"$${REDIS_PASSWORD:-redis123}\""]
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    networks:
      - ml_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
    profiles:
      - service
      - manual

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: vkr-ml-redis-commander
    restart: unless-stopped
    env_file:
      - ./core/.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
    ports:
      - 8082:8081
    depends_on:
      - redis
    networks:
      - ml_network
      - vkr-outer-network
    profiles:
      - service
      - manual

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - ml_network
      - vkr-outer-network
    profiles:
      - service
      - manual


  ml-service:
    build: 
      context: .
      dockerfile: ./core/TransformersBase.dockerfile
    container_name: vkr-ml-service
    restart: unless-stopped
    env_file:
      - ./core/.env
    depends_on:
      redis:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - ml_network
      - vkr-inner-network
      - vkr-outer-network
    environment:
      - PYTHONPATH=/app/src
      - PYTHONUNBUFFERED=1
    volumes:
      - ./core:/app/core
      - ./src:/app/src
      - ./logs:/app/logs
      - ./.models:/app/.models
      - ./.cache:/root/.cache
      - ./.venv-lin:/app/.venv-lin
    ports:
      - 8000:8000  # FastAPI порт
    command: ["/app/.venv-lin/bin/python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    profiles:
      - service
    deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                count: 1
                capabilities: [gpu]

  ml-console:
    build: 
      context: .
      dockerfile: ./core/TransformersBase.dockerfile
    container_name: vkr-ml-console
    restart: unless-stopped
    env_file:
      - ./core/.env
    depends_on:
      redis:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - ml_network
      - vkr-inner-network
      - vkr-outer-network
    environment:
      - PYTHONPATH=/app/src
      - PYTHONUNBUFFERED=1
    volumes:
      - ./core:/app/core
      - ./src:/app/src
      - ./logs:/app/logs
      - ./.models:/app/.models
      - ./.cache:/root/.cache
      - ./.venv-lin:/app/.venv-lin
    stdin_open: true
    tty: true
    command: ["/bin/bash", "-c", "/app/core/update-venv.sh && exec /bin/bash"]
    profiles:
      - manual
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

volumes:
  minio_data:
    name: "vkr-volume-minio" 
  redis_data:
    name: "vkr-volume-redis"
  qdrant_data:
    name: "vkr-volume-qdrant"

networks:
  ml_network: # Локальная сеть для данного контейнера
    name: vkr-scinside-ml-network
    driver: bridge
    internal: true
    external: false
  vkr-inner-network:
    name: vkr-scinside-internal
    driver: bridge
    internal: true
    external: true
  vkr-outer-network:
    name: vkr-scinside-external
    driver: bridge
    internal: false
    external: true